<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
         {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="main">

    <div class="container">

        <h1> Random Word (Attempt # {{ request.session.counter }})</h1>
        <div class="form">

            <form action="random" method="post" id="form1">
                {% csrf_token %}

                <input class="word" type="text" value='{{ word }}' id="random" form="form1"><br><br>
                <div class="buttons">
                    <button type="submit" id="button1" form="form1"> Generate </button><br><br>
                    <button type="submit" id="button2" form="form2"> Reset </button>
                </div>

            </form>


            <form action="/" method="post" id="form2">
                {% csrf_token %}
            </form>


        </div>

    </div>
</div>

</body>
</html>