h1 {
    text-align: center;
    font-size: xxx-large;
    border-style: outset;
    width: 50%;
    display: inline-block;
    margin-left: 349px;
    font-family: system-ui;
    box-shadow: 2px 2px 5px #999;
    background-image: radial-gradient(circle at 50% -20.71%, #8fd3e0 0, #90d3e4 6.25%, #93d2e8 12.5%, #97d1eb 18.75%, #9ccfee 25%, #a1cef0 31.25%, #a7ccf1 37.5%, #aecbf2 43.75%, #b5c9f2 50%, #bcc7f1 56.25%, #c3c5f0 62.5%, #cac4ee 68.75%, #d1c2eb 75%, #d7c0e7 81.25%, #ddbfe4 87.5%, #e2bddf 93.75%, #e7bcda 100%);

}

.form{
    text-align: center;
 }

#random.word{
    width: 292px;
    height: 62px;
    text-align: center;
    font-size: xx-large;
    border-style: double;
    border-width: thick;
}

button#button1{
    font-size: x-large;
    box-shadow: 2px 2px 5px #999;
}

button#button2{
    font-size: x-large;
    box-shadow: 2px 2px 5px #999;
}