#wrapper {
    padding: 15px;
    text-align: center;
}

div {
    display: inline-block;
    vertical-align: top;
}

#pokemon {
    width: 60%;
}

#info {
    width: 16%;
    border-top: red solid 20px;
    border-right: red solid 20px;
    border-left: red solid 20px;
    border-bottom: red solid 50px;
    padding: 6px 10px 12px 10px;
    display: inline-block;
    text-align: center;
}

h1 {
    text-align: center;
}

h4 {
    text-align: initial;
}

ul {
    text-align: initial;
}

p {
    text-align: initial;
}